name: Build
on:
    push:
        branches:
            - main
    pull_request:
        types: [opened, synchronize, reopened]
jobs:
    onchange:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  lfs: true

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 24
                  cache: "npm"

            - name: Install Dependencies
              run: |
                  npm ci

            - name: Validate
              run: |
                  npm run build
                  npm run test

            - name: SonarQube Scan
              uses: SonarSource/sonarqube-scan-action@v6
              env:
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
